<div id="fondo">
    <div id="fondo-t">
        <div class="jumbotron text-center">
            <h1 class="titulo">PESFLET</h1>
            <h4 class="subtitulo">Inventario de Guías</h4>
        </div>

        <div class="card at-4 login">
            <div class="card-body">
                <h2 class="ini text-center">INICIO DE</h2>
                <h2 class="ini text-center">SESION</h2>
                <br>
                <Input class="form-control ingres" type="text">
                <div class="text-center">
                    <span><i class="fas fa-id-badge"></i> Usuario</span>
                </div>
                <br>
                <Input class="form-control ingres" type="password">
                <div class="text-center">
                    <span>Contraseña</span>
                </div>
                <br>
                <div class="text-center">
                    <a href="/vistas/casa" type="button" class="btn btn-dark rod">
                        <h2 class="boton-text">Ingresar</h2>
                    </a>
                </div>
                <p></p>
                <div class="text-center">
                    <a href="#">
                    ¿Olvidaste tu contraseña?
                </a>
                </div>
            </div>
        </div>
    </div>
</div>