<div id="fondo">
    <div id="fondo-t">
        <div class="jumbotron text-center">
            <h1 class="titulo">PESFLET</h1>
            <h4 class="subtitulo">Inventario de Guías</h4>
        </div>

        <div class="text-center">
            <button type="button" class="btn boton boton-regvia">
                <h5>REGISTRO DE VIAJES</h5>
            </button>
        </div>
        <hr>

        <div class="text-center">
            <a href="/vistas/guia" type="button" class="btn boton boton-reggui">
                <h5>REGISTRO DE GUÍAS</h5>
            </a>
        </div>
        <hr>

        <div class="text-center">
            <button type="button" class="btn boton boton-usu">
                <h5>USUARIO</h5>
            </button>
        </div>
        <hr>

        <div class="text-center">
            <button type="button" class="btn boton boton-con">
                <h5>CONSULTAS</h5>
            </button>
        </div>


        <a href="/" type="button" class="btn boton-cerses">
            <h5 class="salir">Salir</h5>
        </a>
    </div>
</div>