/* You can add global styles to this file, and also import other style files */

body {
    background-color: #000000;
    /* background-image: url(./assets/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}