<div id="fondo">
    <div id="fondo-t">
        <div class="jumbotron text-center">
            <h4 class="titulo">Registro de Guías</h4>
            <p></p>
            <button type="button" class="btn rod">
                <span id="boton-reg">
                    Registrar  <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>

        <div class="card at-4 tabla">
            <div class="card-body">
                <h5 class="text-center">Listado de Guías</h5>
                <hr>
                <table class="table ">
                    <thead class="thead-dark">
                        <tr style="font-size: 60%">
                            <th scope="col">Guía de Transportista</th>
                            <th scope="col">Guía de Remitente</th>
                            <th scope="col">Facturador</th>
                            <th scope="col">Planta Minera</th>
                            <th scope="col">Fecha de Viaje</th>
                            <th scope="col">Fecha de Llenado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">0001-001526</th>
                            <th scope="row">0001-001526</th>
                            <td>Andalusita</td>
                            <td>Sociedad Minera</td>
                            <td>15/12/2021</td>
                            <td>17/12/2021</td>
                        </tr>
                        <tr>
                            <th scope="row">0001-001526</th>
                            <th scope="row">0001-001526</th>
                            <td>Andalusita</td>
                            <td>Sociedad Minera</td>
                            <td>15/12/2021</td>
                            <td>17/12/2021</td>
                        </tr>
                        <tr>
                            <th scope="row">0001-001526</th>
                            <th scope="row">0001-001526</th>
                            <td>Andalusita</td>
                            <td>Sociedad Minera</td>
                            <td>15/12/2021</td>
                            <td>17/12/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>